// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$amber: #ffc107;

// My Styles
$gris: #E9ECEF;
$gris-hover: #F6F6F6;
$drawer-color: #1B1D24;

// Colores Estados
$state-red: #EC7774;
$state-orange: #FDA962;
$state-yellow: #f5d51e;
$state-green: #7AD5A1;
$state-blue: #77B5E7;
